@import '../configuration/config';

.about-container {
  padding-left: 40px;
  padding-right: 40px;
  .intro-section {
    margin-top: 40px;
    .intro {
      font-size: 22px;
      line-height: 2;
      font-family: $primary-body-font-family;
    }
  }
}
