@import '../configuration/config';

.about-container {
  padding-left: 40px;
  padding-right: 40px;
  .intro-section {
    margin-top: 40px;
    border-bottom: 1px solid black;
    .intro {
      font-size: 29px;
      line-height: 2;
      font-family: $primary-body-font-family-light;
    }
  }
}
