@import '../configuration/config';

.home {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include MaxMQ(md) {
    height: 96%;
  }
  @include MQ(xxl) {
    width: 100%;
    max-width: 2900px;
  }
  .home_header {
    position: relative;
    width: 92%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .home_letter {
      position: absolute;
      @include MQ(sm) {
        width: 15%;
      }
      @media only screen and (max-width: 1024px) {
        width: 18%;
      }
      @include MQ(lgr) {
        width: 13%;
      }
    }
    .home_c {
      @media only screen and (max-width: 1024px) {
        bottom: 10% !important;
      }
      @include MQ(sm) {
        bottom: 14%;
        left: -4%;
      }
      @include MQ(lgr) {
        left: -3%;
        bottom: 12%;
      }
      @media only screen and (min-width: 2083px) {
        bottom: 10%
      }
    }
    .home_a {
      @media only screen and (max-width: 1024px) {
        bottom: 31% !important;
      }
      @include MQ(sm) {
        bottom: 33%;
        left: 18.5%;
      }
      @include MQ(lgr) {
        left: 19.5%;
        bottom: 27%;
      }
      @media only screen and (min-width: 2083px) {
        bottom: 25%
      }
    }
    .home_d {
      @media only screen and (max-width: 1024px) {
        bottom: 52% !important;
      }
      @include MQ(sm) {
        bottom: 52%;
        left: 41%;
      }
      @include MQ(lgr) {
        left: 42%;
        bottom: 42%;
      }
      @media only screen and (min-width: 2083px) {
        bottom: 40%
      }
    }
    .home_dd {
      @media only screen and (max-width: 1024px) {
        bottom: 73% !important;
      }
      @include MQ(sm) {
        bottom: 71%;
        left: 63.5%;
      }
      @include MQ(lgr) {
        left: 64.5%;
        bottom: 57%;
      }
      @media only screen and (min-width: 2083px) {
        bottom: 55%
      }
    }
    .home_9 {
      @media only screen and (max-width: 1024px) {
        bottom: 70% !important;
      }
      @include MQ(sm) {
        bottom: 69%;
        left: 84%;
      }
      @include MQ(lgr) {
        left: 87%;
        bottom: 54%;
      }
      @media only screen and (min-width: 2083px) {
        bottom: 50%
      }
    }
    @include MaxMQ(sm) {
      display: none;
    }
  }
  .home-header-mobile {
    display: none;
    @include MaxMQ(sm) {
      display: flex;
      padding-bottom: 30px;
      padding-top: 150px;
    }
  }
}
