@import '../configuration/config';

.home {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include MaxMQ(md) {
    height: 96%;
  }
  @include MQ(xxl) {
    width: 100%;
    max-width: 2900px;
  }
  .home_header {
    position: relative;
    width: 92%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .home_letter {
      position: absolute;
      @include MQ(sm) {
        width: 20%;
      }
      @include MQ(lgr) {
        width: 15%;
      }
    }
    .home_c {
      @include MQ(sm) {
        bottom: 14%;
        left: -4%;
      }
      @include MQ(lgr) {
        left: -3%;
        bottom: 10%;
      }
      @include MQ(xxl) {
        bottom: 12%;
      }
      @media only screen and (min-width: 2083px) {
        bottom: 10%
      }
    }
    .home_a {
      @include MQ(sm) {
        bottom: 28%;
        left: 18.5%;
      }
      @include MQ(lgr) {
        left: 19.5%;
        bottom: 20%;
      }
      @include MQ(xxl) {
        bottom: 24%;
      }
      @media only screen and (min-width: 2083px) {
        bottom: 20%
      }
    }
    .home_d {
      @include MQ(sm) {
        bottom: 42%;
        left: 41%;
      }
      @include MQ(lgr) {
        left: 42%;
        bottom: 30%;
      }
      @include MQ(xxl) {
        bottom: 36%;
      }
      @media only screen and (min-width: 2083px) {
        bottom: 30%
      }
    }
    .home_dd {
      @include MQ(sm) {
        bottom: 56%;
        left: 63.5%;
      }
      @include MQ(lgr) {
        left: 64.5%;
        bottom: 40%;
      }
      @include MQ(xxl) {
        bottom: 48%;
      }
      @media only screen and (min-width: 2083px) {
        bottom: 40%
      }
    }
    .home_9 {
      @include MQ(sm) {
        bottom: 70%;
        left: 84%;
      }
      @include MQ(lgr) {
        left: 87%;
        bottom: 50%;
      }
      @include MQ(xxl) {
        bottom: 60%;
      }
      @media only screen and (min-width: 2083px) {
        bottom: 50%
      }
    }
    @include MaxMQ(sm) {
      display: none;
    }
  }
  .home-header-mobile {
    display: none;
    @include MaxMQ(sm) {
      display: flex;
      padding-bottom: 30px;
      padding-top: 150px;
    }
  }
}
