.home {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .home_header {
      position: relative;
      width: 90%;
      height: 75%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .home_letter {
       width: 62px;
       position: absolute;
      }
      .home_a {
        bottom: 25%;
        left: 25%;
      }
      .home_d {
        bottom: 50%;
        left: 50%;
      }
      .home_dd {
        bottom: 75%;
        left: 75%;
      }
      .home_9 {
        bottom: 90%;
        left: 90%;
      }
    }
}