@import '../configuration/config';

.partners-container {
  max-width: $app-max-width;
  display: flex;
  flex-direction: column;
  align-items: center;
  .partners-icons {
    max-width: 1600px;
    height: auto;
    @include MaxMQ(sm) {
      justify-content: start !important;
      border-bottom: $border-main !important;
      align-items: center;
    }
  }
}