@import '../configuration/config';

.nav-bar {
  position: absolute;
  bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  @include MaxMQ(md) {
    height: 100%;
    display: flex;
    left: -400px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    transition: left 0.5s;
  }
}

.open-nav-bar {
  left: 0;
  transition: left 0.5s;
}

.menu-bar-item {
  @include MQ(md) {
    display: none;
  }
  padding-left: 20px;
}

.nav-item {
  text-decoration: none;
  color: black;
}