@import '../configuration/config';

.member-card {
  max-height: 730px;
  max-width: 320px;
  .card-name {
    letter-spacing: .15rem;
  }
  .avatar {
    max-height: 323px;
  }
  .member-intro {
    height: 250px;
    overflow: auto;
    z-index: 11;
    background-color: white;
    opacity: 0.8;
  }
}
@media only screen and (min-width: 1370px) {
  .member-card:nth-child(2n) {
    margin-top: 200px;
    margin-bottom: -180px;
  }
  .member-card:nth-child(15) {
    margin-top: 200px;
  }
}

@media only screen and (max-width: 1370px) {
  .member-card:nth-child(3n+2) {
    margin-top: 200px;
    margin-bottom: -180px;
  }
  .member-card:nth-child(14) {
    margin-bottom: -40px;
  }
}


@media only screen and (max-width: 1047px) {
  .member-card:nth-child(n+1) {
    margin-top: 0px;
    margin-bottom: 20px;
  }
}
