@import '../configuration/config';

.member-card {
  max-height: 730px;
  max-width: 330px;
  .card-name {
    letter-spacing: .15rem;
  }
  .avatar {
    max-height: 323px;
  }
  .member-intro {
    height: 250px;
    overflow: auto;
    z-index: 11;
    background-color: white;
    opacity: 0.8;
  }
}

.member-card:nth-child(2n) {
  margin-top: 200px;
  margin-bottom: -160px;
}

.member-card:nth-child(15) {
  margin-top: 200px;
}
