@import '../configuration/config';

.partner-box {
  width: 300px;
  height: 300px;
  filter: grayscale(100%);
  @include MaxMQ(lg) {
    filter: grayscale(0);
  }
  @include MaxMQ(sm) {
    border: 0 !important;
    border-bottom: $border-main !important;
    justify-content: start !important;
    width: 95px;
    height: 90px;
    margin-bottom: 60px !important;
    .partner-box-image {
      width: 75%;
    }
  }
}
.partner-box:nth-child(n + 2) {
  margin-left: -1px;
  margin-bottom: -1px;
}
.partner-box:nth-child(-n + 5) {
  margin-bottom: -1px;
}
.partner-box:nth-last-child(1) {
  @include MaxMQ(sm) {
    margin-bottom: 0 !important;
    border-bottom: 0 !important;
  }
}
.partner-box:nth-child(n + 19) {
  @include MaxMQ(sm) {
    border-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
}
